.tab {
  .tab-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1px;
  }
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  &.tab-line {
    border-bottom: $tab-border-width solid $tab-border-color;
    box-shadow: $tab-box-shadow;
    .tab-item {
      &.is-active, &:hover {
        color: $tab-item-active-color;
      }
      &.is-active {
        border-bottom: $tab-item-active-border-width solid $tab-item-active-color;
      }

    }
  }
  &.tab-card {
    border-bottom: 1px solid #e8e8e8;
    .tab-item {
      height: 40px;
      margin: 0 2px 0 0;
      line-height: 38px;
      background: #fafafa;
      border: 1px solid #e8e8e8;
      border-radius: 4px 4px 0 0;
      &.is-active {
        color: $primary;
        background: $white;
        border-color: #e8e8e8;
        border-bottom: 1px solid #fff;
      }
      &:hover {
        color: $primary;
      }
    }
  }
  .tab-item {
    padding: 0 $tab-item-padding-x;
    cursor: pointer;
    transition: $tab-transition;
    &.is-disabled {
      color: $tab-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
  }
}
